# Server config
NODE_ENV=development
# NODE_ENV options: development, staging, production
PORT=PORT
USERNAME=USERNAME
PASSWORD=123456

# Database config
DATABASE_USERNAME=USERNAME
DATABASE_PASSWORD=PASSWORD
DATABASE=DATABASE

# JWT & Authentication
JWT_SECRET=SECRET
JWT_EXPIRES_IN=TIME
JWT_COOKIE_EXPIRES_IN=TIME

# Email Config (Gmail, SendGrid, etc)
EMAIL_USERNAME
EMAIL_PASSWORD
EMAIL_HOST
EMAIL_PORT
# File Upload Config (Cloudinary, AWS S3, ...)
# Payment Gateway Config
# // Stripe
STRIPE_SECRET_KEY=
# // MTN_momo
# // PayPal
PAYPAL_CLIENTID=
PAYPAL_SECRET=
PAYPAL_BASEURL=
PAYPAL_REDIRECT_BASE_URL=http://localhost:5000
# Third Party Services
# Frontend Config
# Logging and Monitoring
# API Rate Limiting
# Admin/Security Config
# Analytics and SEO
# APP Settings
# Redis config